* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #6c584c;
}

h1 {
    color: #f0ead2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    background-color: #a98467;
    color: #f0ead2;
    height: 10vh;
    width: 30vw;
    border-radius: 20px;
    border: none;
    font-size: 100%;

}

.container {
    background-color: #54321c6b;
    width: 100vw;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    position:fixed;
    top: 20vh;
    padding-top: 20px; 
    border-radius: 30px;
    z-index: 0;
}

h1 {
    grid-column: 1/-1;
    text-align: center;
}

.accepted {
    height: 50vh;
    width: 80vw;
    background-color: #7b4829f5;
    position: fixed;
    z-index: 1;
    top: 25vh;
    left: 10vw;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    visibility: hidden;
    border-radius: 30px;
}



